<%= File.read("./views/template_parts/header.erb") %>
<%= File.read("./views/template_parts/nav.erb") %>
  <table>
    <tr>
      <th>District</th>
      <th>Enrollment</th>
      <th>Statewide Testing</th>
      <th>Economic Profile</th>
    </tr>
  <% districts.each do |district| %>
      <tr>
        <td><a href='./districts/<%= "#{district[:slug]}" %>/index.html'><%= "#{district[:name]}" %></a></td>
        <td><a href='./districts/<%= "#{district[:slug]}" %>/enrollment.html'>Enrollment</a></td>
        <td><a href='./districts/<%= "#{district[:slug]}" %>/testing.html'>Statewide Testing</a></td>
        <td><a href='./districts/<%= "#{district[:slug]}" %>/economic.html'>Economic Profile</a></td>
      </tr>
    <% end %>
  </table>
<%= File.read("./views/template_parts/footer.erb") %>
