<%= File.read("./views/template_parts/header.erb") %>
<%= File.read("./views/template_parts/nav.erb") %>
  <h2 class="sub-header">Enrollment information for <%= "#{district_name}" %></h2>
  <p>
    <a type="button" class="btn btn-default" href='/districts/<%= "#{district_slug}" %>/index.html'>Back to district main page</a>
  </p>

  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Kindergarten Participation by year</div>
        <div class="panel-body"><canvas id="k-part-by-year" width="400" height="400"></canvas></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Kindergarten Participation compared to CO</div>
        <div class="panel-body"><canvas id="k-part-against-co" width="400" height="400"></canvas></div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Kinder Participation trend compared to CO</div>
        <div class="panel-body">[line graph]</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">High School Graduation rate by year</div>
        <div class="panel-body">[bar graph]</div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">Kindergarten Participation predict High School Graduation?</div>
        <div class="panel-body">[Yes/No]</div>
      </div>
    </div>
    <!-- <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading"></div>
        <div class="panel-body"></div>
      </div>
    </div> -->
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script src="../../../build/assets/js/Chart.LinearGauge.js" ></script>
  <script>
    <% k_part_by_year_labels = d_k_part.keys.map(&:to_s) %>
    <% k_part_by_year_data = d_k_part.values %>
    var k_part_by_year = document.getElementById("k-part-by-year");
    var k_part_by_year_data = {
        labels: <%= k_part_by_year_labels %>,
        datasets: [{
                label: "Percent Kindergarten Participation",
                backgroundColor:'rgba(54, 162, 235, 0.2)',
                    // 'rgba(255, 99, 132, 0.2)',
                    // 'rgba(255, 206, 86, 0.2)',
                    // 'rgba(75, 192, 192, 0.2)',
                    // 'rgba(153, 102, 255, 0.2)',
                    // 'rgba(255, 159, 64, 0.2)'
                data: <%= k_part_by_year_data %>
            }]
    };
    var myKPartByYear = new Chart(k_part_by_year, {
        type: 'bar',
        data: k_part_by_year_data
    });
    <% d_k_part_against_co %>
    var k_part_against_co = document.getElementById("k-part-against-co");
    var k_part_against_co_data = {
        labels: [
            "<%= "#{district_name}" %>"
        ],
        datasets: [{
                label: "Percent Kindergarten Participation Rate Compared to CO",
                backgroundColor:[
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(0,0,0,0)'
                ],
                data: [<%= d_k_part_against_co %>]
            }]
    };
    var myKPartAgainstCO = new Chart(k_part_against_co, {
        type: 'bar',
        data: k_part_against_co_data

    });
  </script>
<%= File.read("./views/template_parts/footer-charts.erb") %>
