<html>
<head>
  <meta charset='utf-8'>
  <title><%= "#{district_name}" %> Info</title>
</head>
<body>
  <h1>Welcome to the Headcount Analyst page for <%= "#{district_name}" %></h1>
  <a href="../index.html">back to main page</a>
  <p>or you can view information about this district:</p>
  <table>
    <tr>
      <th>Enrollment</th>
      <th>Statewide Testing</th>
      <th>Economic Profile</th>
    </tr>
    <tr>
      <td><a href='/districts/<%= "#{district_slug}" %>/enrollment.html'>Enrollment</a></td>
      <td><a href='/districts/<%= "#{district_slug}" %>/testing.html'>Statewide Testing</a></td>
      <td><a href='/districts/<%= "#{district_slug}" %>/economic.html'>Economic Profile</a></td>
    </tr>
  </table>
</body>
</html>
