<%= File.read("./views/template_parts/header.erb") %>
<%= File.read("./views/template_parts/nav.erb") %>
  <h2 class="sub-header">Welcome to the Headcount Analyst page for <%= "#{district_name}" %></h2>
  <p>
    <button type="button" class="btn btn-lg btn-default" href='/districts/<%= "#{district_slug}" %>/enrollment.html'>Enrollment</button>
    <button type="button" class="btn btn-lg btn-primary" href='/districts/<%= "#{district_slug}" %>/testing.html'>Statewide Testing</button>
    <button type="button" class="btn btn-lg btn-success" href='/districts/<%= "#{district_slug}" %>/economic.html'>Economic Profile</button>
  </p>
<%= File.read("./views/template_parts/footer.erb") %>
