<%= File.read("./views/template_parts/header.erb") %>
<%= File.read("./views/template_parts/nav.erb") %>
  <h2 class="sub-header">Welcome to the Headcount Analyst page for <%= "#{district_name}" %></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p><a class="btn btn-lg btn-default" href='./enrollment.html'>Enrollment</a></p>
    <p><a class="btn btn-lg btn-primary" href='./testing.html'>Statewide Testing</a></p>
    <p><a class="btn btn-lg btn-success" href='./economic.html'>Economic Profile</a></p>
  </div>
  <div class="col-md-3">
      <%= info_box %>
  </div>
<%= File.read("./views/template_parts/footer.erb") %>
